<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/static/css/index.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="form-style-8">
            <h2>Crops Prediction</h2>
            <form action="{% url 'result' %}" >
                {% csrf_token %}
                <input type="text" name="ph" placeholder="Ph of soil" />
                <input type="text" name="moisture" placeholder="Moisture of soil" />
                <input type="text" name="humidity" placeholder="Humidity in atmosphere" />
                <input type="text" name="temperature" placeholder="Current temperature" />
                <input type="submit" value="Get Predictions" />
            </form>
        </div>
    </body>
</html>